body{
   margin: 0px;
}
*{
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
font-style: normal;
}
a{
   text-decoration: none;
}
img{
   object-fit: cover;
}
header,main{
   margin-left: 100px;
   margin-right: 100px;
   font-family: 'Montserrat'
}

@media all and (max-width:900px){
   header,main{
       margin-left: 20px;
       margin-right: 20px;
   }
}