body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  box-sizing: border-box;
  font-family: 'Montserrat';
font-style: normal;

}
.no_decoration{
   text-decoration: none;
}
img{
   object-fit: cover;
}
body{
   margin-left: 100px;
   margin-right: 100px;
   font-family: 'Montserrat', Arial, sans-serif;
}
@media all and (max-width:768px){
   body{
       margin-left: 20px;
       margin-right: 20px;
   }
}